<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PartyRockApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C262C63F1E2CDB940034DB58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C262C6531E2CDB940034DB58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C262C65E1E2CDB940034DB58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
